@use "sass:color";
@use "./colors" as *;

:root {
  // Primary colors
  --color-bg-default-primary: #{$color-bg-default-primary};
  --color-text-default-primary: #{$color-text-default-primary};
  --color-border-default-primary: #{$color-border-default-primary};

  --color-bg-hover-primary: #{color.scale(
      $color-bg-default-primary,
      $lightness: 10%
    )};
  --color-text-hover-primary: #{$color-text-default-primary};
  --color-border-hover-primary: #{color.scale(
      $color-border-default-primary,
      $lightness: 10%
    )};

  --color-bg-active-primary: #{color.scale(
      $color-bg-default-primary,
      $lightness: 15%
    )};
  --color-text-active-primary: #{$color-text-default-primary};
  --color-border-active-primary: #{color.scale(
      $color-border-default-primary,
      $lightness: 15%
    )};

  --color-bg-disabled-primary: #{color.scale(
      $color-bg-default-primary,
      $alpha: -40%
    )};
  --color-text-disabled-primary: #{$color-text-default-primary};
  --color-border-disabled-primary: #{color.scale(
      $color-border-default-primary,
      $alpha: -40%
    )};

  // Secondary colors
  --color-bg-default-secondary: #{$color-bg-default-secondary};
  --color-text-default-secondary: #{$color-text-default-secondary};
  --color-border-default-secondary: #{$color-border-default-secondary};

  --color-bg-hover-secondary: #{color.scale(
      $color-bg-default-secondary,
      $lightness: 10%
    )};
  --color-text-hover-secondary: #{$color-text-default-secondary};
  --color-border-hover-secondary: #{color.scale(
      $color-border-default-secondary,
      $lightness: 10%
    )};

  --color-bg-active-secondary: #{color.scale(
      $color-bg-default-secondary,
      $lightness: 15%
    )};
  --color-text-active-secondary: #{$color-text-default-secondary};
  --color-border-active-secondary: #{color.scale(
      $color-border-default-secondary,
      $lightness: 15%
    )};

  --color-bg-disabled-secondary: #{color.scale(
      $color-bg-default-secondary,
      $alpha: -40%
    )};
  --color-text-disabled-secondary: #{$color-text-default-secondary};
  --color-border-disabled-secondary: #{color.scale(
      $color-border-default-secondary,
      $alpha: -40%
    )};

  // Success colors
  --color-bg-default-success: #{$color-bg-default-success};
  --color-text-default-success: #{$color-text-default-success};
  --color-border-default-success: #{$color-border-default-success};

  --color-bg-hover-success: #{color.scale(
      $color-bg-default-success,
      $lightness: 10%
    )};
  --color-text-hover-success: #{$color-text-default-success};
  --color-border-hover-success: #{color.scale(
      $color-border-default-success,
      $lightness: 10%
    )};

  --color-bg-active-success: #{color.scale(
      $color-bg-default-success,
      $lightness: 15%
    )};
  --color-text-active-success: #{$color-text-default-success};
  --color-border-active-success: #{color.scale(
      $color-border-default-success,
      $lightness: 15%
    )};

  --color-bg-disabled-success: #{color.scale(
      $color-bg-default-success,
      $alpha: -40%
    )};
  --color-text-disabled-success: #{$color-text-default-success};
  --color-border-disabled-success: #{color.scale(
      $color-border-default-success,
      $alpha: -40%
    )};

  // Warning colors
  --color-bg-default-warning: #{$color-bg-default-warning};
  --color-text-default-warning: #{$color-text-default-warning};
  --color-border-default-warning: #{$color-border-default-warning};

  --color-bg-hover-warning: #{color.scale(
      $color-bg-default-warning,
      $lightness: 10%
    )};
  --color-text-hover-warning: #{$color-text-default-warning};
  --color-border-hover-warning: #{color.scale(
      $color-border-default-warning,
      $lightness: 10%
    )};

  --color-bg-active-warning: #{color.scale(
      $color-bg-default-warning,
      $lightness: 15%
    )};
  --color-text-active-warning: #{$color-text-default-warning};
  --color-border-active-warning: #{color.scale(
      $color-border-default-warning,
      $lightness: 15%
    )};

  --color-bg-disabled-warning: #{color.scale(
      $color-bg-default-warning,
      $alpha: -40%
    )};
  --color-text-disabled-warning: #{$color-text-default-warning};
  --color-border-disabled-warning: #{color.scale(
      $color-border-default-warning,
      $alpha: -40%
    )};

  // Danger colors
  --color-bg-default-danger: #{$color-bg-default-danger};
  --color-text-default-danger: #{$color-text-default-danger};
  --color-border-default-danger: #{$color-border-default-danger};

  --color-bg-hover-danger: #{color.scale(
      $color-bg-default-danger,
      $lightness: 10%
    )};
  --color-text-hover-danger: #{$color-text-default-danger};
  --color-border-hover-danger: #{color.scale(
      $color-border-default-danger,
      $lightness: 10%
    )};

  --color-bg-active-danger: #{color.scale(
      $color-bg-default-danger,
      $lightness: 15%
    )};
  --color-text-active-danger: #{$color-text-default-danger};
  --color-border-active-danger: #{color.scale(
      $color-border-default-danger,
      $lightness: 15%
    )};

  --color-bg-disabled-danger: #{color.scale(
      $color-bg-default-danger,
      $alpha: -40%
    )};
  --color-text-disabled-danger: #{$color-text-default-danger};
  --color-border-disabled-danger: #{color.scale(
      $color-border-default-danger,
      $alpha: -40%
    )};

  // Info colors
  --color-bg-default-info: #{$color-bg-default-info};
  --color-text-default-info: #{$color-text-default-info};
  --color-border-default-info: #{$color-border-default-info};

  --color-bg-hover-info: #{color.scale($color-bg-default-info, $lightness: 10%)};
  --color-text-hover-info: #{$color-text-default-info};
  --color-border-hover-info: #{color.scale(
      $color-border-default-info,
      $lightness: 10%
    )};

  --color-bg-active-info: #{color.scale($color-bg-default-info, $lightness: 15%)};
  --color-text-active-info: #{$color-text-default-info};
  --color-border-active-info: #{color.scale(
      $color-border-default-info,
      $lightness: 15%
    )};

  --color-bg-disabled-info: #{color.scale($color-bg-default-info, $alpha: -40%)};
  --color-text-disabled-info: #{$color-text-default-info};
  --color-border-disabled-info: #{color.scale(
      $color-border-default-info,
      $alpha: -40%
    )};

  // Light colors
  --color-bg-default-light: #{$color-bg-default-light};
  --color-text-default-light: #{$color-text-default-light};
  --color-border-default-light: #{$color-border-default-light};

  --color-bg-hover-light: #{color.scale(
      $color-bg-default-light,
      $lightness: 10%
    )};
  --color-text-hover-light: #{$color-text-default-light};
  --color-border-hover-light: #{color.scale(
      $color-border-default-light,
      $lightness: 10%
    )};

  --color-bg-active-light: #{color.scale(
      $color-bg-default-light,
      $lightness: 15%
    )};
  --color-text-active-light: #{$color-text-default-light};
  --color-border-active-light: #{color.scale(
      $color-border-default-light,
      $lightness: 15%
    )};

  --color-bg-disabled-light: #{color.scale(
      $color-bg-default-light,
      $alpha: -40%
    )};
  --color-text-disabled-light: #{$color-text-default-light};
  --color-border-disabled-light: #{color.scale(
      $color-border-default-light,
      $alpha: -40%
    )};

  // Ghost colors
  --color-bg-default-ghost: #{$color-bg-default-ghost};
  --color-text-default-ghost: #{$color-text-default-ghost};
  --color-border-default-ghost: #{$color-border-default-ghost};

  --color-bg-hover-ghost: #{color.scale($color-bg-default-ghost, $alpha: 20%)};
  --color-text-hover-ghost: #{$color-text-default-ghost};
  --color-border-hover-ghost: #{color.scale(
      $color-border-default-ghost,
      $lightness: 10%
    )};

  --color-bg-active-ghost: #{color.scale($color-bg-default-ghost, $alpha: 30%)};
  --color-text-active-ghost: #{$color-text-default-ghost};
  --color-border-active-ghost: #{color.scale(
      $color-border-default-ghost,
      $lightness: 15%
    )};

  --color-bg-disabled-ghost: #{color.scale(
      $color-bg-default-ghost,
      $alpha: -20%
    )};
  --color-text-disabled-ghost: #{color.scale(
      $color-text-default-ghost,
      $alpha: -40%
    )};
  --color-border-disabled-ghost: #{color.scale(
      $color-border-default-ghost,
      $alpha: -40%
    )};

  // Link colors
  --color-link: #{$color-bg-default-primary};
  --color-link-hover: #{color.scale($color-bg-default-primary, $lightness: 20%)};
  --color-link-visited: #{color.scale(
      $color-bg-default-primary,
      $lightness: -20%
    )};
  --color-link-active: #{color.scale($color-bg-default-primary, $lightness: 40%)};
  --color-link-focus: #{color.scale($color-bg-default-primary, $lightness: 50%)};
  --color-link-focus-outline: #{color.scale(
      $color-bg-default-primary,
      $lightness: 30%
    )};
}
