@use "sass:color";

// Base colors
$color-bg-default-primary: #13d89b;
$color-text-default-primary: #164e3f;
$color-border-default-primary: #13d89b;

$color-bg-default-secondary: #161b1a;
$color-text-default-secondary: #ffffff;
$color-border-default-secondary: #2e3231;

$color-bg-default-success: #66bb6a;
$color-text-default-success: #ffffff;
$color-border-default-success: #66bb6a;

$color-bg-default-warning: #ffca28;
$color-text-default-warning: #000000;
$color-border-default-warning: #ffca28;

$color-bg-default-danger: #ef5350;
$color-text-default-danger: #ffffff;
$color-border-default-danger: #ef5350;

$color-bg-default-info: #29b6f6;
$color-text-default-info: #ffffff;
$color-border-default-info: #29b6f6;

$color-bg-default-light: #424242;
$color-text-default-light: #ffffff;
$color-border-default-light: #424242;

$color-bg-default-ghost: transparent;
$color-text-default-ghost: #ffffff;
$color-border-default-ghost: transparent;

// System colors
$color-bg-default-disabled: #616161;
$color-text-default-disabled: #ffffff;
$color-border-default-disabled: #616161;

$color-bg-default-background: #121212;
$color-text-default-background: #e0e0e0;
