html,
body {
  background-color: #161b1a;
  color: #b4b4b4;
}

.sb-show-main.sb-main-centered #storybook-root {
  background-color: #161b1a;
  max-height: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
